* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/fundo.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

hr {
    margin-top: 1rem;
}

footer {
    display: flex;
    padding-left: 1.25rem;
}

a {
    color: #0A66C2;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
}

h1 {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

p {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}

input::placeholder {
    color: #B6B6B6;
    font-size: 1rem;
}

.icons {
    width: 20px;
    margin-right: 5px;
}

.inputs {
    width: 100%;
    height: 55px;
    border: none;
    padding: 0 1rem;
    margin-top: 0.625rem;
    background-color: #3B2063;
    box-shadow: 0px 0px 11.28px 0px #00000029 inset;
    border-radius: 10px;
    color: #FFFFFF;
    outline: none;
}

.buttons {
    transition-duration: 0.5s;
}

.button_redes {
    width: 200px;
    max-width: 230px;
    height: 40px;
    border: none;
    border-radius: 11.1px;
    background-color: #3B2063;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color: #FFFFFF;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_inscrever {
    font-size: 0.875rem;
    margin-right: 5px;
}

#div_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#fundo {
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;
    height: 45rem;
}

#formulario {
    width: 100%;
    max-width: 500px;
}

#enviar_button {
    width: 100%;
    max-width: 250px;
    height: 40px;
    border-radius: 18.8px;
    border: none;
    margin: 0;
    background: linear-gradient(90.04deg, rgba(62, 112, 161, 0.48) 0.03%, rgba(62, 112, 161, 0.4) 101.88%);
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
}

.buttons:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#redes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#options{
    margin-top: 20px;
}

#inscrever_link {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
}

#ultima_palavra {
    color: #0A66C2;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    #fundo {
        height: auto;
    }

    #formulario {
        width: 90%;
        padding: 1rem;
    }

    .inputs {
        height: 45px;
    }

    .button_redes, #enviar_button {
        width: 100%;
        font-size: medium;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 0.8rem;
    }

    #options{
        margin-top: 10px;
    }

    footer{
        flex-direction: column;
        padding-left: 0;
        align-items: center;
    }
    .button_redes, #enviar_button{
        width: 120px;
        font-size: small;
    }
}